/* Template General */
@import url('https://fonts.googleapis.com/css?family=Athiti');

* {font-family: 'Athiti', sans-serif;}

.main-dreation {width:50%;}

@media (max-width:767.98px) 
{ 
    .main-dreation {width:80%;}
}
